@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --body-background: #fafafa;
  --body-color: #444;
  --erb-red: #bc3e3a;
  --ruby-blue: #82aaff;
  --comment-grey: #637777;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: sans-serif;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}


/* Rouge */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}

.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf {
  color: #FF0000;
}

.highlight .c1 {
  color: var(--comment-grey);
}

.highlight .kc {
  color: #C34E00;
}



.highlight .nf,  .highlight .kd, .highlight .na,.highlight .nl    {
  color: #c4e377;
}

.highlight .kr {
  color: #007575;
}


.highlight .mi {
  color: #f58b6b;
}



.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv, .highlight .nt {
  color: #df75f2;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .nc  {
   color: #ebc38d;
}

.highlight .si,
.highlight {
color: #ffd700;

}


.highlight .sa {
  color: #0000FF;
}
.highlight .s2, .highlight .s1,  .highlight .dl{
  color: #ebc38d;
}


.highlight .nb, .highlight .bp, .highlight .ss {
  color: #c5e478;
}

.highlighter-rouge {
  background-color: blanchedalmond;
  padding: 1px 5px;
}

/* ruby */
.highlight .language-ruby .nf {
  color: var(--ruby-blue);
}

/* erb */
.highlight .language-erb .nf {
  color: var(--ruby-blue);
}

.highlight .language-erb .err  {
  color: unset;
}

.highlight .language-erb .c  {
  color: var(--comment-grey);
}

.highlight .cp {
  color: var(--erb-red);
}

.highlight .language-erb .nt {
  color: unset;
}

.highlight .language-erb .na {
  color: #c4e377;
}

.highlight .language-erb .vi {
  color: #b9eae1;
}


/* inline */
code.highlighter-rouge::before, code.highlighter-rouge::after {
  content: normal;
}

/* Display code format no top-right of figure */
figure {
    position: relative;
    min-width: 100px;
    width: max-content;
    max-width: 100%;
}

code[data-lang]:not([rel=""])::before {
    font-size: 0.6rem;
    content: attr(data-lang);
    text-transform: uppercase;
    position: absolute;
    top: .1rem;
    font-weight: bold;
    right: .3rem;
    color: #ff7a18 !important;
}


