@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --body-background: #fafafa;
  --body-color: #444;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: sans-serif;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}

/* Rouge */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf {
  color: #FF0000;
}

.highlight .c1 {
  color: #637777;
}

.highlight .kc {
  color: #C34E00;
}

.highlight .nf,  .highlight .kd, .highlight .na,.highlight .nl    {
  color: #80affd;
}

.highlight .kr {
  color: #007575;
}


.highlight .mi {
  color: #f58b6b;
}



.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv, .highlight .nt {
  color: #df75f2;
}

.highlight .nx {
  color:
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .ss, .highlight .nc  {
  color: #a6d85e;
}

.highlight .si,
.highlight .language-ruby .p{
color: #ffd700;

}


.highlight .sa {
  color: #0000FF;
}
.highlight .s2, .highlight .s1,  .highlight .dl{
  color: #ebc38d;
}


.highlight .nb, .highlight .bp {
  color: #c5e478;
}

/* Block code, highlight */
figure {
    position: relative;
    min-width: 100px;
    width: max-content;
    /* max-width: 100%; */
}

code[data-lang]:not([rel=""])::before {
    font-size: 0.6rem;
    content: attr(data-lang);
    text-transform: uppercase;
    position: absolute;
    top: .1rem;
    font-weight: bold;
    right: .3rem;
    color: #ff7a18 !important;
}

